$bg: #24021c;
$bg-fade:#13020f;
$light-bg: #ca077f51;
$text: #c8c8d8;
$text-muted: #7a7a9a;
$text-gray:#bbb9b97e;
$accent-purple: #ca077f;
$accent-purple-hover:#ff31b0;
$accent-purple-text:#fd50bb;
$accent-purple-text-light:#ff84d0dc;
$accent-green: #22c55e;
$accent-red: #ef4444;
$border: rgba(255, 255, 255, 0.172);

