<!-- landing Home Page -->
<section  class="hero">

  <!-- Background avatar -->
  <div class="hero-bg"></div>
  <div class="hero-overlay"></div>

  <!-- Center content -->
  <div appScrollReveal class="hero-content">
    <p class="hero-subtitle">
    HoxWEBDEV <span class="dot">•</span> Frontend DEVELOPER
    </p>

    <h1 class="hero-title">
      <span class="white">HELLO</span>
      <span class="purple">WORLD</span>
    </h1>

    <h2 class="hero-name">I'M Hox</h2>
  </div>

  <!-- Bottom bar -->
  <div class="hero-bottom">

    <!-- Location -->
    <div class="hero-location">
      <p class="city">
        <span class="pin">📍</span> Menoufiya, Egypt
      </p>
      <p class="time">{{currentTime}} • Cairo, Egypt</p>
    </div>

    <!-- Scroll down -->
    <div appScrollReveal   class="hero-scroll">
      <span>Scroll Down</span>
      <button class="scroll-btn" aria-label="Scroll down">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="6 9 12 15 18 9"/>
        </svg>
      </button>
    </div>

    <!-- Availability -->
    <div class="hero-availability">
      <p class="status">
        <span class="status-dot"></span> Available
      </p>
      <p class="open">Open for Projects</p>
    </div>

  </div>

</section >
  <!-- Information Section  -->
<section appScrollReveal id="infff" class="info container">
  <div appScrollReveal class="info-holder">
    <div class="text-info">
      <p> <span>Egyption </span><span>Front End Developer</span><span> building responsive and user-friendly web applications.Passionate about creating seamless user
            experiences and writing clean, maintainable code.</span>
      </p>
      <h1 class="headline">
        Ideas
        <span class="arrow">→</span>
        <span class="word-reality">Reality</span>
     </h1>
    </div>
  </div>
  <!-- social Section  -->
   <div appScrollReveal class="socials">

    <!-- Email -->
    <a href="mailto:kamel_mohamed911@hotmail.com" class="social-btn" aria-label="Email">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0
                 2-2V6a2 2 0 0 0-2-2Zm0 4-8 5-8-5V6l8 5 8-5v2Z"/>
      </svg>
    </a>

    <!-- GitHub -->
    <a href="https://github.com/Kamel-Codes" target="_blank" class="social-btn" aria-label="GitHub">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2C6.477 2 2 6.484 2 12.021c0 4.428 2.865 8.184
                 6.839 9.504.5.092.682-.217.682-.482
                 0-.237-.009-.868-.013-1.703-2.782.605-3.369-1.342-3.369-1.342
                 -.454-1.155-1.11-1.462-1.11-1.462-.908-.62.069-.608.069-.608
                 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088
                 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951
                 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65
                 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0 1 12 6.844
                 a9.59 9.59 0 0 1 2.504.338c1.909-1.296 2.747-1.027
                 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028
                 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678
                 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482
                 A10.02 10.02 0 0 0 22 12.021C22 6.484 17.522 2 12 2Z"/>
      </svg>
    </a>

    <!-- Discord -->
    <a href="https://discord.com/users/1120330704451022859" target="_blank" class="social-btn" aria-label="Discord">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.317 4.492a19.84 19.84 0 0 0-4.885-1.515.074.074
                 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.566
                 18.566 0 0 0-5.487 0 12.36 12.36 0 0 0-.617-1.25.077.077
                 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.492a.07.07
                 0 0 0-.032.027C.533 9.093-.32 13.555.099 17.961a.08.08
                 0 0 0 .031.055 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0
                 .084-.028c.462-.63.874-1.295 1.226-1.994a.076.076 0 0 0
                 -.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1
                 -.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01
                 c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01
                 c.12.098.246.198.373.292a.077.077 0 0 1-.006.127
                 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.041.107
                 c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028
                 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054
                 c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03Z
                 M8.02 15.278c-1.182 0-2.157-1.085-2.157-2.419
                 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096
                 2.157 2.42 0 1.333-.956 2.418-2.157 2.418Zm7.975 0
                 c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.955-2.419
                 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42
                 0 1.333-.946 2.418-2.157 2.418Z"/>
      </svg>
    </a>

  </div>
</section>
<!-- Projects Sections -->
 <section appScrollReveal class="projects container">
  <!-- section title  -->
  <h1 appScrollReveal class="section-header">
    <span>My</span>
    <span>Projects</span>
  </h1>
  <div appScrollRevealclass="section-title">
    <span class="line"></span>
    <span class="label">FEATURED WORKS</span>
    </div>
  <div appScrollReveal class="projects-panel">
   <div appScrollReveal class="project-card">
    <div class="card-preview">
      <div appScrollReveal class="card-body">
    <div class="card-label">Project</div>
    <h2 class="card-title">Hlthera</h2>
    <p class="card-desc">I developed the front-end for Hlthera, creating a fast, responsive, and modern user interface that delivers a smooth experience and visually represents the brand identity.</p>

    <div appScrollReveal class="tags">
      <span class="tag tag-react">
        <span class="tag-icon">△</span> Angular
      </span>
      <span class="tag tag-node">
        <span class="tag-icon">⬡</span> Node.js
      </span>
      <span class="tag tag-tw">
        <span class="tag-icon">✦</span> Bootstrap
      </span>
    </div>

    <div appScrollReveal class="actions"> <a target="_blank" href="https://www.hlthera.com/hlthera">
        <button class="btn-icon" title="Open project">
        <svg viewBox="0 0 24 24"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" y1="14" x2="21" y2="3"/></svg>
      </button>
    </a >
      
      <button class="btn-icon" title="Preview">
        <svg viewBox="0 0 24 24"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
      </button>
    </div>
  </div>
    </div>
   </div>
   <!-- <div class="project-card"> 
    <div class="card-preview">
      <div class="card-body">
    <div class="card-label">Project</div>
    <h2 class="card-title">Limenodes</h2>
    <p class="card-desc">I developed the front-end for LimeNodes, creating a fast, responsive, and modern user interface that delivers a smooth experience and visually represents the brand identity.</p>

    <div class="tags">
      <span class="tag tag-react">
        <span class="tag-icon">⚛</span> React
      </span>
      <span class="tag tag-node">
        <span class="tag-icon">⬡</span> Node.js
      </span>
      <span class="tag tag-tw">
        <span class="tag-icon">◈</span> Tailwindcss
      </span>
    </div>

    <div class="actions">
      <button class="btn-icon" title="Open project">
        <svg viewBox="0 0 24 24"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" y1="14" x2="21" y2="3"/></svg>
      </button>
      <button class="btn-icon" title="Preview">
        <svg viewBox="0 0 24 24"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
      </button>
    </div>
  </div>
    </div>
   </div>  -->
  </div>
 </section>